#hd {
  background-color: #eee;
}

.pagination {
  margin: 1em 0;
  padding: 0.25em;
  background-color: #eee;
}

.pagination a {
  color: #333;
  padding: 0 0.25em;
}

ul.decades {
  margin: 1em 0;
  padding: 0.25em;
  background-color: #eee;
}

.decades li {
  list-style: none;
  display: inline;
  padding: 0.25em;
  font-weight: bold;
}

.decades li a {
  font-weight: normal;
  color: #333;
}

#subject_tree {
  margin-top: 1.4em;
}

.treelist ul {
  margin: 0 1em;
}

.direct {
  padding: 0 0.25em;
  background-color: #fea;
}

.descendant {
  padding: 0 0.25em;
  background-color: #eee;
}

.number {
  text-align: right;
}

td {
  border: 1px solid #ccc;
}