<h1>Subject</h1>

<%= pagination %>

<%= subjects_table(@subjects) %>

<%= pagination %>

<% content_for(:sidebar) do -%>
<%= treelist(nil) %>
<script type="text/javascript">
tree = new YAHOO.widget.TreeView("treelist");
tree.render();
tree.subscribe('clickEvent',function () {return false;});
</script>
<% end -%>